<div class="content">

    <div *ngFor="let platillo of platillos">
        <h2>{{ platillo.nombre }}</h2>
        <p>{{ platillo.descripcion }}</p>
        <p>Precio: ${{ platillo.precio }}</p>
      </div>
    <p>Este es el menu de ejemplo
        
        <br>3<br>
        4<br>
        5<br>
        6<br>
        <br>3<br>
        4<br>
        5<br>
        6<br>
        <br>3<br>
        4<br>
        5<br>
        6<br>
        <br>3<br>
        4<br>
        5<br>
        6<br>
        <br>3<br>
        4<br>
        5<br>
        6<br>
        <br>3<br>
        4<br>
        5<br>
        6<br>

        <br>3<br>
        4<br>
        5<br>
        6<br>
    </p>
</div>